@page "/"

<h1>Hello, world!</h1>
<h1>@user.Id</h1>
<h1>@user1.Id</h1>

Welcome to your new app.
@code{
    private User user = null;
    private User user1 = null;


    protected override void OnInitialized()
    {

       user = new User { Email = "badre", Name = "Farid" };
       user1 = new User { Email = "badre", Name = "Farid" };
        base.OnInitialized();
    }

       

    
}